<template>
  <div class="body">
    <h3>Select A Color</h3>
    <ul>
      <li v-for="(value, key) in colorOptions"
          class="filter"
          :class="{active: appliedColor === key}"
          @click="colorFilter=key; colorFiltor(key)"
          v-bind:style="{ background: value}">
      </li>
      <li
        class="remove-filter"
        v-if="appliedColor !== ''"
        @click="reset">
        <div>reset</div>
      </li>
    </ul>
    <div class="gallery">
      <img class="photo" v-for="src in appliedSrc" :src="src" alt="photo">
    </div>
  </div>
</template>

<script>
  import blue_tree from '../assets/blue/tree.png'
  import blue_jellyfish from '../assets/blue/jellyfish.png'
  import blue_ballon from '../assets/blue/balloon.png'
  import blue_sky from '../assets/blue/sky.png'
  import red_apple from '../assets/red/apple.png'
  import red_sky from '../assets/red/sky.png'
  import red_watermelon from '../assets/red/watermelon.png'
  import red_book from '../assets/red/book.png'
  import green_grass from '../assets/green/grass.png'
  import green_leaf from '../assets/green/leaf.png'
  import green_shade from '../assets/green/shade.png'
  import green_bike from '../assets/green/bike.png'
  import yellow_flower from '../assets/yellow/flower.png'
  import yellow_grain from '../assets/yellow/grain.png'
  import yellow_tree from '../assets/yellow/tree.png'
  import yellow_bee from '../assets/yellow/bee.png'
  export default {
    name: 'Body',
    data () {
      return {
        colorFilter: '',
        colorOptions: {blue: '#33ccff', red: '#ff6666', green: '#00cc99', yellow: '#ffff99'},
        photoSrc: {
          blue: [blue_tree, blue_jellyfish, blue_ballon, blue_sky],
          red: [red_apple, red_sky, red_watermelon, red_book],
          green: [green_grass, green_leaf,green_shade, green_bike],
          yellow: [yellow_flower, yellow_grain, yellow_tree, yellow_bee],
        },
        appliedSrc: [blue_tree, red_apple, green_grass,yellow_flower],
        appliedColor: '',
      }
    },

    methods: {
      colorFiltor(color) {
        this.appliedColor = color
        this.appliedSrc = this.photoSrc[color]
      },
      reset() {
        this.appliedColor = ''
        this.appliedSrc = [blue_tree, red_apple, green_grass,yellow_flower]
      }
    }
  }
</script>

<style scoped>

  .body {
    width: 100%;
  }

  h3 {
    margin-top: 40px;
    color: #404040;
  }

  ul {
    display: inline-flex;
  }

  .filter {
    width: 80px;
    height: 30px;
    border: 2px solid #ccc;
  }

  li:hover {
    opacity: .6;
  }

  .active {
    border: 2px solid #4d4d4d;
  }

  .remove-filter {
    margin-top: -5px;
    margin-left: 30px;
    padding: 10px 8px;
    width: 35px;
    height: 25px;
    color: #fff;
    background: #000;
    border-radius: 50%;
    font-size: 15px;
  }

  .gallery {
    width: 60%;
    margin: 20px auto;
    flex-wrap: wrap;
    display: block;
    justify-content: center;
  }

  .photo {
    width: 280px;
    height: 230px;
    margin: 20px;
    -webkit-box-shadow: 1px 1px 3px  #ccc;
    -moz-box-shadow: 1px 1px 3px  #ccc;
    box-shadow: 3px 3px 7px  #ccc;
  }

  @media only screen and (max-width: 767px) {
    .gallery {
      margin: 0;
    }

    ul {
      display: inline-flex;
      flex-wrap: wrap;
    }

    li {
      margin: 5px;
    }

    .remove-filter {
      margin-top: 0;
    }
  }

</style>
