<template>
  <div class="header">
    <h1><i class="fa fa-leaf"></i>Colorful</h1>
  </div>
</template>

<script>
export default {
  name: 'Header',
  data () {
    return {
      msg: 'Welcome to Your Colorful App'
    }
  }
}
</script>

<style scoped>

  .header {
    display: inline-flex;
    width: 100%;
    height: 40px;
    padding: 20px;
    background: #000;
  }

  h1 {
    color: #fff;
    font-size: 20px;
    line-height: 20px;
  }

  i {
    color: #fff;
    font-size: 20px;
    margin-right: 20px;
    z-index: 9;
  }
</style>
